<div class="container">
  <br>
<p><strong>Title</strong><br><%= @post["title"] %></p>
<p><strong>Body</strong><br><%= @post["body"] %></p>


<h3 class="mt-4 text-muted text-center">Comments</h3>

<table class="table  table-hover mt-2">
  <thead>
  <tr>
    <th scope="col" class="text-muted">Id</th>
    <th scope="col" class="text-muted">Name</th>
    <th scope="col" class="text-muted">Email</th>
    <th scope="col" class="text-muted">Body</th>
    <th scope="col" class="text-muted">Post Id</th>
  </tr>
  </thead>
  <tbody>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment["id"] %></td>
      <td><%= comment["name"] %></td>
      <td><%= comment["email"] %></td>
      <td><%= comment["body"] %></td>
      <td><%= comment["postId"] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) %>

<%= link_to "Back", root_path, class: "btn btn-sm btn-primary mt-4" %>
</div>